* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  margin: 5px;
  background: rgb(197, 233, 246);
  color: rgb(76, 72, 69);
}

h1,
h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
  color: rgb(1, 58, 81);
}

label,
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app__input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__input__form {
  background: rgb(207, 219, 223);
  margin: 4px;
  padding: 15px;
  width: 80vw;
}

input,
textarea {
  width: 72vw;
  font-size: 16px;
}

span {
  color: #fff;
  cursor: default;
}

button {
  border-radius: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(1, 58, 81);
  background: #f8f8f8;
  border: none;
  padding: 10px;
  text-align: center;
}

.app__comments,
h2 {
  text-align: left;
}

.app__comments__comment {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background: rgb(192, 216, 224);
  width: 90vw;
}

.app__comments__comment:nth-child(even) {
  background: rgb(197, 206, 209);
}

@media (min-width: 768px) {
  .app__input {
    flex-direction: row;
    justify-content: space-around;
  }

  .app__input__form {
    width: 40vw;
  }

  input,
  textarea {
    width: 35vw;
    font-size: 18px;
  }
}
