* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  margin: 5px;
  background: rgb(197, 233, 246);
}

body {
  margin: 0;
  color: rgb(76, 72, 69);
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  color: rgb(1, 58, 81);
}

label,
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app__form {
  background: rgb(207, 219, 223);
  margin: 4px;
  padding: 15px;
  width: 80vw;
}

input,
textarea {
  width: 70vw;
  font-size: 16px;
}

span {
  color: #fff;
  cursor: default;
}

button {
  border-radius: 50%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(1, 58, 81);
  background: #f8f8f8;
  border: none;
  padding: 10px;
  text-align: center;
}

.app__comments__comment::nth-child(even) {
  color: rgb(216, 216, 216);
}
